name: Diagonal Trakt Scraper

on:
  schedule:
    - cron: '0 8 * * 4'
  workflow_dispatch:

jobs:
  run-scraper:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout du code
        uses: actions/checkout@v3

      - name: Configuration de Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Installation des dépendances
        run: pip install -r requirements.txt

      - name: Installation de Playwright + Chromium  # ← nouveau
        run: playwright install chromium --with-deps

      - name: Lancement du script
        env:
          TRAKT_CLIENT_ID: ${{ secrets.TRAKT_CLIENT_ID }}
          TRAKT_ACCESS_TOKEN: ${{ secrets.TRAKT_ACCESS_TOKEN }}
        run: python diagonal-scraper.py
